<!DOCTYPE html>
<html lang="en" ng-app="sportsList">
  <head>
    <title>Sports Line</title>
    <link rel="stylesheet" href="/javascripts/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/lib/angular/angular.js"></script>
    <script src="/javascripts/lib/angular-route/angular-route.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-controller="sportsListCtrl">
    <header id="page-header">
      <div class="logo-container">
        <div class="container">
          <a href="/" id="branding">Sports Wire</a>
        </div>
      </div>
    </header>
    <div ng-view></div>
  </body>
</html>
