<!DOCTYPE html>
<html>
  <head>
    <title>Sports Line</title>
    <link rel="stylesheet" href="/javascripts/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <header id="page-header">
      <div class="logo-container">
        <div class="container">
          <a href="/" id="branding">Sports Wire</a>
        </div>
      </div>
    </header>
    <ul>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>
      <li class="posts">
        <div class="controls">
          <a class="upvote" href=""><i id="arrow" class="fa fa-arrow-up fa-5x"></i></a>
          <h1 class="votes">0</h1>
          <i class="social fa fa-twitter fa-3x"></i>
          <br>
          <i class="social fa fa-facebook fa-3x"></i>
        </div>
        <div class="post-card">
          <div class="post-content">
            <div class="headline">MNT vs. Nigeria</div>
            <div class="headline-media">
              <img src="sports_gifs/8.gif">
            </div>  
          </div>
        </div>
      </li>                                    
    </ul>
  </body>
  <script data-main="javascripts/config.js" src="javascripts/lib/requirejs/require.js"></script>
</html>
