<!DOCTYPE html>
<html>
  <head>
    <title>Sports Line</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="page-header">
      <div class="logo-container">
        <div class="container">
          <a href="/" id="branding">Sports Wire</a>
        </div>
      </div>
      <nav>
        <div class="container">
          <div class="option-browse">
            <a href="/today">today</a> / <a href="/week">week</a> / <a href="/year">year</a> / <a href="/all">all time</a>
          </div>
          <div class="info-bar">
            Top Trending Games
          </div>
        </div>        
      </nav>
    </header>
    <ul>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">MNT vs. Nigeria</div>
          <div class="headline-media"><img src="sports_gifs/8.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/1.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/2.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/3.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/4.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/5.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/6.gif"></div>    
        </div>
      </li>
      <li class="post-card">
        <div class="post-content">
          <div class="headline">A's vs Yankee's</div>
          <div class="headline-media"><img src="sports_gifs/7.gif"></div>    
        </div>
      </li>
    </ul>
  </body>
</html>
