<div class="posts">
  <div class="controls">
    <a class="upvote" href=""><i class="fa fa-arrow-up fa-5x arrow" ng-click="upvote(wire)"></i></a>
    <h1 class="votes">{{wire.votes}}</h1>
    <i class="social fa fa-twitter fa-3x"></i>
    <br>
    <i class="social fa fa-facebook fa-3x"></i>
  </div>
  <div class="post-card">
    <div class="post-content">
      <div class="headline">{{wire.name}}</div>
      <div class="headline-media">
        <img src="sports_gifs/{{wire.id}}.gif">
      </div>  
    </div>
  </div>
  <div id="comments">
    <div id="comments-title">Facebook Conversations</div>
    <div class="fb-comments" data-href="http://example.com/comments" data-numposts="5" data-colorscheme="light"></div>
  </div>