<nav>
  <div id="sub-nav">
    <span id="newest">Newest</span> | <span id="top">Top</span>
  </div>
  <div id="subscribe">
    <form ng-submit="subscribe()">
      <label>Subscribe for Weekly Top Tens</label>
      <input type="email" ng-model="email" name="email">
      <button class="btn" ngClick="Submit">Subscribe</button>
    </form>
  </div>
</nav>
<div id="location-controls">
  <i ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="lf fa fa-hand-o-left fa-5x arrow"></i>
  <div class="lf" id="location-counter">{{currentPage+1}}/{{wires.length/pageSize}}</div>
  <i ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="lf fa fa-hand-o-right fa-5x arrow"></i>
</div>
<ul>
  <li ng-repeat="wire in wires | orderBy: '-votes' | startFrom:currentPage*pageSize | limitTo:pageSize" class="posts">
    <div class="controls">
      <div class="upvote"><i class="fa fa-arrow-up fa-5x arrow" ng-click="upvote(wire)"></i></div>
      <h1 class="votes">{{wire.votes}}</h1>
      <i class="social fa fa-twitter fa-3x"></i>
      <br>
      <i class="social fa fa-facebook fa-3x"></i>
    </div>
    <div class="post-card">
      <div class="post-content">
        <div class="headline"><a href="#/wires/{{wire._id}}">{{wire.name}}</a></div>
        <div class="headline-media">
          <img src="//{{wire.imgUrl}}">
        </div>  
      </div>
    </div>
  </li>
</ul>